[submodule "Front-end"]
	path = Front-end
	url = https://github.com/efrog-team/efrog-front-end
[submodule "Back-end"]
	path = Back-end
	url = https://github.com/efrog-team/efrog-back-end
[submodule "Hub"]
	path = Hub
	url = https://github.com/efrog-team/efrog-hub
[submodule "Auth"]
	path = Auth
	url = https://github.com/efrog-team/efrog-auth
